# -----------------------
# Global ignores
# -----------------------
.DS_Store
Thumbs.db
*.log
node_modules/
.env
.env.*
*.iml
*.lock
.idea/
.vscode/
coverage/

# -----------------------
# Flutter / Dart ignores
# -----------------------
**/build/
**/.dart_tool/
**/.packages
**/pubspec.lock
**/ios/Flutter/.symlinks/
**/ios/Pods/
**/android/.gradle/
**/android/local.properties
**/.flutter-plugins
**/.flutter-plugins-dependencies

# -----------------------
# Firebase & credentials
# -----------------------
google-services.json
GoogleService-Info.plist
firebase.json

# -----------------------
# Postman / temp / uploads
# -----------------------
postman/

sync_talk_mobile/build/
# Flutter / Android builds
.android/
.gradle/
*.iml
.idea/
